<div class="container">
  <div class="row">
    <div classe="col-xs-12">
        <ol>
            <li>This part is a test of the Bootstrap Framework.</li>
            <li>Second item.</li>
        </ol>
        <hr>
        <label>Username:</label>
        <input type="text" class="form-control" [(ngModel)]="username">
        <p> {{ username }}<p>
        <button 
          class="btn btn-primary"
          [disabled]="username === ''"
          (click)="username = ''">Reset User:
        </button>
        <ol>
          <li>1. Primeiro</li>
          <li>2. Segundo</li>
        </ol>
        <hr>
        <button class="btn btn-primary" 
          (click)="onToggleDetails()">Display Details
        </button>
        <p *ngIf="showSecret">Secret Password = tuna</p>
        <div 
          *ngFor="let logItem of log; let i = index"
          [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
          [ngClass]="{'white-text': i >= 4}"
          >{{ logItem }}</div>
      </div>
  </div>
</div>

<h3>I'm in the AppComponent! </h3>
<hr>
<app-servers></app-servers>
<hr>
<app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert>